// COLORS
$white: #FFF
$yellow: #EFFFA9
$green: #6EDE69
$red: #F85959

// MIXINS
@mixin text()
    font-size: 16px
    font-weight: 400

@mixin center()
    display: flex
    justify-content: center
    align-items: center

*
    font-family: "Poppins", serif !important

body
    background-color: $yellow
    min-height: 100vh
    max-height: 100vh
    min-width: 100vw
    max-width: 100vw
    @include center

.text
    @include text

.scores
    position: absolute
    top: 50px

#score
    left: 50px

#tries
    right: 50px

#main
    background-color: $white
    height: 550px
    width: 380px
    @include center

    #wrapper
        height: calc( 100% - 30px )
        width: calc( 100% - 30px )

    #card
        background-color: $yellow
        height: 200px
        width: 100%
        @include center

        #card__text
            font-size: 90px

    #container
        height: calc( 100% - 200px )

        #text-wrapper
            // background-color: blue
            height: 50%
            width: 100%
            @include center
            flex-direction: column

            h1 
                font-size: 28px
                font-weight: 600

            #guess-text
                @include text
                margin-top: 15px

        #input-wrapper
            // background-color: red
            height: 50%
            width: 100%